.container {
    position: relative;
}
.image2 {
    position: absolute;
    top: 100px;
    left: 165px;
}

.imgsize{
    height:160px ; 
}

.carousel-indicators {
    display: flex;
    justify-content: center;
    bottom: 0;
    margin-left: 300px;
    margin-bottom: 0.1px;
    
    
  }

  .carousel-indicators li {
    margin: 0 3px;
   
  }

  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 50px;
    color: antiquewhite;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
    transform: translate(-50%, -50%);}

    .lead{
      font-size: 15px;
      font-weight: bold;
    }
    
    
.site-footer {
  background-color: #838383;
    text-align: center;
    margin: 10px 0;
    padding: 10px 0;
}

#social-wrapper {
    text-align: center;
}

/*Social Media Icons*/
.social-wrapper {
    text-align: center;
}

.social-wrapper ul li {
    display: inline;
    margin: 0 5px;
}

.twitter-icon,
.facebook-icon,
.instagram-icon,
.linkedin-icon,
.googleplus-icon,
.youtube-icon,
.foursquare-icon{
    margin-top: .625em;
    width: 40px;
    height: 40px;
    opacity: .6;
    filter: alpha(opacity=60); /* For IE8 and earlier */
  border-radius: 25px;
}

.twitter-icon:hover,
.facebook-icon:hover,
.instagram-icon:hover,
.linkedin-icon:hover,
.googleplus-icon:hover,
.youtube-icon:hover,
.foursquare-icon:hover {
    opacity: 1.0;
    filter: alpha(opacity=100); /* For IE8 and earlier */
}

.footer-nav p {
    text-align: center;
}.site-footer {
  background-color: #838383;
    text-align: center;
    margin: 10px 0;
    padding: 10px 0;
}

#social-wrapper {
    text-align: center;
}

/*Social Media Icons*/
.social-wrapper {
    text-align: center;
}

.social-wrapper ul li {
    display: inline;
    margin: 0 5px;
}

.twitter-icon,
.facebook-icon,
.instagram-icon,
.linkedin-icon,
.googleplus-icon,
.youtube-icon,
.foursquare-icon{
    margin-top: .625em;
    width: 40px;
    height: 40px;
    opacity: .6;
    filter: alpha(opacity=60); /* For IE8 and earlier */
  border-radius: 25px;
}

.twitter-icon:hover,
.facebook-icon:hover,
.instagram-icon:hover,
.linkedin-icon:hover,
.googleplus-icon:hover,
.youtube-icon:hover,
.foursquare-icon:hover {
    opacity: 1.0;
    filter: alpha(opacity=100); /* For IE8 and earlier */
}

.footer-nav p {
    text-align: center;
}

.container {
  position: relative;
  width: 50%;
  

}

.container img{
height: 200px;
width: 500px;
border-radius:30px ;
}



