.box {
  transition: box-shadow .3s;
  width: 300px;
  height: 300px;
  margin: 50px;
  border-radius:30px;
  border: 1px solid #060606;
  background-color: rgb(239, 236, 232);
  float: left;
  box-shadow: 5px 10px #949292;
  border-width: 0cm;
}
.box:hover {
  box-shadow: 0 0 11px rgba(33,33,33,.2); 
}

.itemname{
  text-align: center ;
  font-size: 20px;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: #060606;
  
}


.container {
  position: relative;
  width: 50%;
  

}

.container img{
height: 200px;
width: 500px;
border-radius:30px ;
}

.image {
  display: block;
  width: 50%;
  height: 50%;
}
/*
.overlay {
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  background-image: url('images/berryyy.jpg');
  background-size: cover;
  overflow: hidden;
  width: 100%;
  height:0;
  opacity: 1;
  transition: filter 0.5s ease-in-out, opacity 0.5s ease-in-out; 
  filter: blur(2px); 
  
}


.container:hover .overlay {
  bottom: 0;
  height: 100%;
}

.text {
  color: white;
  font-size: 15px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}*/

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  opacity: 0;
  transition:opacity 0.5s ease-in-out;
}

.container:hover .overlay {
  opacity: 1;
}

.overlay-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('images/plate.jpg');
  background-size: cover; /* ensures the overlay image covers the entire box */
  background-position: center;
  background-repeat: no-repeat;
  filter: blur(3px); /* blur effect */
  z-index: 1; /* ensure the background is behind the text */
  border-radius:30px;
}

.text {
  position: relative;
  z-index: 2; /* ensure text is above the background */
  color:black; /* text color */
  font-size: 18px;
  text-align: center;
  font-weight:bolder;
  font-style: italic;
}


.site-footer {
  background-color: #838383;
    text-align: center;
    margin: 10px 0;
    padding: 10px 0;
}

#social-wrapper {
    text-align: center;
}

/*Social Media Icons*/
.social-wrapper {
    text-align: center;
}

.social-wrapper ul li {
    display: inline;
    margin: 0 5px;
}

.twitter-icon,
.facebook-icon,
.instagram-icon,
.linkedin-icon,
.googleplus-icon,
.youtube-icon,
.foursquare-icon{
    margin-top: .625em;
    width: 40px;
    height: 40px;
    opacity: .6;
    filter: alpha(opacity=60); /* For IE8 and earlier */
  border-radius: 25px;
}

.twitter-icon:hover,
.facebook-icon:hover,
.instagram-icon:hover,
.linkedin-icon:hover,
.googleplus-icon:hover,
.youtube-icon:hover,
.foursquare-icon:hover {
    opacity: 1.0;
    filter: alpha(opacity=100); /* For IE8 and earlier */
}

.footer-nav p {
    text-align: center;
}.site-footer {
  background-color: #838383;
    text-align: center;
    margin: 10px 0;
    padding: 10px 0;
}

#social-wrapper {
    text-align: center;
}

/*Social Media Icons*/
.social-wrapper {
    text-align: center;
}

.social-wrapper ul li {
    display: inline;
    margin: 0 5px;
}

.twitter-icon,
.facebook-icon,
.instagram-icon,
.linkedin-icon,
.googleplus-icon,
.youtube-icon,
.foursquare-icon{
    margin-top: .625em;
    width: 40px;
    height: 40px;
    opacity: .6;
    filter: alpha(opacity=60); /* For IE8 and earlier */
  border-radius: 25px;
}

.twitter-icon:hover,
.facebook-icon:hover,
.instagram-icon:hover,
.linkedin-icon:hover,
.googleplus-icon:hover,
.youtube-icon:hover,
.foursquare-icon:hover {
    opacity: 1.0;
    filter: alpha(opacity=100); /* For IE8 and earlier */
}

.footer-nav p {
    text-align: center;
}

